[Unit]
Description=uWSGI instance to serve virtualstudio backend service
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/virtualstudio/backend
Environment="PATH=/var/www/virtualstudio/backend/env/bin"
ExecStart=/var/www/virtualstudio/backend/env/bin/uwsgi --ini /var/www/virtualstudio/backend/virtualstudio.ini

[Install]
WantedBy=multi-user.target